.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
*{
    margin: 0px;
    padding: 0px;
}
body{
    overflow: hidden;
}
#canvas{
    background: white;
}
#tools{
    position: fixed;
    top: 20px;
    left: 20px; 
}
#tools svg{
    height: 35px;
    width: 35px;
    margin: 0px 10px;
    transition: all 0.3s;
}
#tools svg.active{
    transform: scale(1.2);
    fill: red;
}
#colour{
    position: fixed;
    top: 25px;
    left: 320px; 
}
#colour button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 15px;
    margin: 0px 10px;
    border: none;
    transition: all 0.3s;
}
#colour button.active{
    transform: scale(1.2);
}
ol{
    list-style: none;
    position: fixed;
    top: 8px;
    right: 370px;
}
ol li{
    margin: 20px 0px;
    transition: all 0.3s;
}
#thin{
    height: 0px;
    width: 30px;
    border-top: 3px solid black;
}
#thin.active{
    transform: scale(1.2);
    margin: red;
}
#thick{
    height: 0px;
    width: 30px;
    border-top: 8px solid black;
}
#thick.active{
    transform: scale(1.2);
}