*{
    margin: 0px;
    padding: 0px;
}
#canvas{
    background: white;
}
#tools{
    position: fixed;
    top: 20px;
    left: 30px; 
}
#eraser,
#pen{
    width: 60px;
    height: 35px;
    border-radius: 7px;
    font-size: 15px;
}
.tools #pen{
    display: none;
}
.tools-x #pen{
    display: inline-block;
}
.tools-x #eraser{
    display: none;
}
#colour{
    position: fixed;
    top: 25px;
    left: 200px; 
}
#colour button{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
    margin: 0px 10px;
    border: none;
}