*{
    margin: 0px;
    padding: 0px;
}
.red{
    color: red;
}
.windows{
    width: 720px;
    height: 450px;
    overflow: hidden;
    margin: 50px auto;
}
.images{
    display: flex;
    align-items: flex-start;
}
#buttons{
    margin-top: -20px;
    text-align: center;
}
