*{
    margin: 0px;
    padding: 0px;
}
.windows{
    width: 400px;
    height: 300px;
    overflow: hidden;
    margin: 50px auto;
}
.images{
    position: relative;
}
.images img{
    width: 100%;
    position: absolute;
    top: 0px;
    transition: all 1.5s;
}
.images img.current{
    left: 0px;
    transform: translateX(0);
    z-index: 1;
}
.images img.leave{
    transform: translateX(-100%);
    z-index: 1;
}
.images img.enter{
    transform: translateX(100%);
}