*{
    margin: 0px;
    padding: 0px;
}
.windows{
    width: 400px;
    height: 300px;
    overflow: hidden;
    margin: 50px auto;
}
.images{
    display: flex;   
    transition: all 1s; 
}
.images img{
    width: 100%;
}
#buttons{
    text-align: center;
}
.changes{
    text-align: center;
    margin-top: 20px;
}