*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  background: rgb(255, 230, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
.Pikachu{
  width: 422px;
  height: 240px;
  position: relative;
}
.nose{
  border: 14px solid;
  border-color: black transparent transparent;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 35px;
}
.eyes{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgb(46,46,46);
  border: 2px solid black;
  position: absolute;
}
.eyes::before{
  content: '';
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid;
  background-color: white;
  position: absolute;
  left: 5px;
}
.eyes.left{
  right: 50%;
  margin-right: 76px;
}
.eyes.right{
  left: 50%;
  margin-left: 76px;
}
.face{
  width: 82px;
  height: 82px;
  border-radius: 50%;
  background-color: rgb(255,0,0);
  border: 3px solid black;
  position: absolute;
  top: 112px;
}
.face.left{
  left: 0px;
}
.face.right{
  right: 0px;
}
.lip{
  width: 88px;
  height: 35px;
  background: #FFE600;
  border: 3px solid black;
  position: absolute;
  top: 60px;
}
.lip.left{
  border-bottom-left-radius: 40px 30px;
  right: 50%;
  border-right: none;
  border-top: none;
  transform:rotate(-25deg);
}
.lip.right{
  border-bottom-right-radius: 40px 30px;
  left: 50%;
  border-top: none;
  border-left: none;
  transform:rotate(25deg);
}
.wapper{
  width: 250px;
  height: 164px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -125px;
  overflow: hidden;
  z-index: -1;
}
.lowerLip{
  height: 2000px;
  width: 200px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -100px;
  border: 3px solid black;
  border-radius: 100px/500px;
  background-color: rgb(155, 0, 10);
  overflow: hidden;
}
.lowerLip::after{
  content: '';
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  bottom: -18px;
  left: 50%;
  margin-left: -75px;
  background-color: rgb(255,72,95);
}