*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::after{
  box-sizing: border-box;
}
*::before{
  box-sizing: border-box;
}
::-webkit-scrollbar{
  width: 0px;
}
body{
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.wapper-words{
  flex: 1;
  width: 50vw;
  height: 100vh;
  padding: 15px 30px;
}
#words{
  overflow: auto;
  height: 100%;
}