*{
    margin: 0px;
    padding: 0px;
}
main{
    margin-top: 150px;
}
main div{
    text-align: center;
    font-size: 20px;
}
kbd{
    border: 1px solid red;
    text-transform: uppercase;
    display: inline-block;
    width: 80px;
    height: 80px;
    position: relative;
}
main div kbd button{
    position: absolute;
    top: 45px;
    left: 25px;
    display: none;
}
kbd:hover>button{
    display: inline-block;
}
