*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ol,
ul{
  list-style: none;
}
::-webkit-scrollbar{
  width: 0px;
}
.token.selector{
  color: white;
}
.token.property{
  color: white;
}
